<div class="navbar navbar-expand-sm justify-content-between navbar-light navbar-lewagon shadow-sm p-3 mb-5 bg-white rounded navbar transparent navbar-inverse">
  <%= link_to "/", class: "navbar-brand" do %>
  <!-- link_to will redirect to root. -->
      <%= image_tag "https://res.cloudinary.com/ddxnvpist/image/upload/v1582827608/kisspng-itunes-icon-logo-icon-media-icon-5d3bcfde0d7112.9901637815642009260551_cdvwoa.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active" style="font-size: 24px">
          <%= link_to "Anúncios", "/instruments", class: "nav-link" %>
        </li>
        <li class="nav-item" style="font-size: 24px">
          <%= link_to "Messages", "/", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/51zmiKOTdlL.png", class: "avatar dropdown-toggle", style: 'height: 56px; width: 56px;', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Meu Perfil", "#", class: "dropdown-item" %>
            <%= link_to "Sair da conta", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Faça seu login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
