<div class='container'>
  <div class="row justify-content-center">
    <div class="border rounded p-3 mb-2 col-xl-6 text-center">
      <%= link_to "Criar nova conta", new_registration_path(resource_name), class:'btn btn-warning my-3' %>
      <hr class='mx-5'>
      ou 
      <hr class='mx-5'>
      <%= image_tag "saxophonist.png", alt: "Toca Aqui logo", class: 'my-3', style: 'height: 100px' %>
      <h2 class='mb-4'>Faça seu login</h2>
      <%= simple_form_for(resource, as: resource_name, class: 'form-signin', url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: false,
                      placeholder: 'Endereço de E-mail',
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password, label: false,
                      required: false,
                      placeholder: 'Senha',
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, label: 'Mantenha-me conectado', as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Efetuar Login", class: 'btn btn-warning' %>
        </div>
        <%= link_to "Esqueci minha senha", new_password_path(resource_name) %>
      <% end %>
      <br>
       <%= render "devise/shared/links" %>
    </div>
  </div>
   
