<%= link_to new_instrument_path do %>
  <div class="btn-index">
    <span><%= "Novo anúncio" %></span>
  </div>
<% end %>
<% @instruments.each do |instrument| %>
  <%= link_to instrument_path(instrument) do %>
    <div class="card-product">
      <% if instrument.photo.any? %>
        <div class="card-index mt-10" style="background-image: linear-gradient(rgba(255, 164, 27, 0.3), rgba(255, 164, 27, 0.3)), url('<%= cl_image_path instrument.photo.last.key %>'); width:360px; height: 350px;" >
        <% else %>
        <div class="card-index mt-10" style='background-image: linear-gradient(rgba(255, 164, 27, 0.3), rgba(255, 164, 27, 0.3)), url(https://i.picsum.photos/id/145/4288/2848.jpg); width:360px; height: 350px;' >
        <% end %>
        </div>
      <div class="card-product-infos">
        <h2><%= instrument.name %></h2>
        <p><%= instrument.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
