<%= link_to 'Novo Instrumento', new_instrument_path %>
<div class="d-flex justify content left">
  <i class="fas fa-star"></i>
  <p>= seu anúncio</p>
</div>

<div class="row">
  <% @instruments.each do |instrument| %>
    <%= link_to instrument_path(instrument) do %>
      <div class="col-md-12 card-index">
        <% if instrument.photo.any? %>
        <div class="card-product mt-10" style="background-image: linear-gradient(rgba(255, 164, 27, 0.3), rgba(255, 164, 27, 0.3)), url('<%= cl_image_path instrument.photo.last.key %>'); width:560px; height: 250px;" >
        <% else %>
        <div class="card-product mt-10" style='background-image: linear-gradient(rgba(255, 164, 27, 0.3), rgba(255, 164, 27, 0.3)), url(https://i.picsum.photos/id/145/4288/2848.jpg); width:560px; height: 250px;' >
        <% end %>
            <div class="card-product-infos linkable">
              <h3><strong><%= instrument.name.upcase %></strong></h3>
              <% if instrument.user_id == current_user.id %>
                <i class="fas fa-star" id="star", style='color: yellow'></i>
              <% end %>
              <p>R$ <%= instrument.price %></p>
            </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>


