<h1 class='m-3'>Novo Instrumento</h1>

<div class='m-3'>
  <%= simple_form_for(@instrument) do |f| %>


    <%= f.input :name, label: "Instrumento" %>
    <%= f.input :inst_type, label: "Tipo de instrumento" %>
    <%= f.input :description, label: "Descrição do Anuncio" %>
    <%= f.input :price, label: "Preço" %>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>

    <%= f.submit 'Criar Novo Instrumento', class: 'btn btn-primary' %>
  <% end %>

  <hr>

  <%= link_to '<- Voltar a todos instrumentos', instruments_path %>

</div>


