<h1 style="color:black">Olá, <%= current_user.first_name %></h1>
<h3 style="color:black">Seus Anúncios</h3>

<% @instruments.each do |instrument| %>
  <% if instrument.purchased == false %>
    <div class="col-md-6">
      <div class="card-product mt-5" style='width:560px; height: 250px;' >
        <div class="card-product-infos">
        <h3 style='color: black'><%= instrument.description %></h3>
        <h2 style='color: black'><%= instrument.name %></h2>
        <p style='color: black'> <%= number_to_currency instrument.price %></p>
        <%= link_to 'Exibir', instrument_path(instrument) %>
        <% if policy(instrument).edit? %>
          <br>
          <%= link_to 'Editar', edit_instrument_path(instrument)%>
        <% end %>
        <% if policy(instrument).destroy? %>
          <br>
          <%= link_to 'Remover Anúncio', instrument_path(instrument), method: :delete, data: {confirm: "Excluir esse anúncio permanentemente?"} %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="mt-5">
  <h3 style="color:black">Suas Compras</h3>

  <% @instruments.each do |instrument| %>
    <% if instrument.purchased%>
      <div class="col-md-6">
        <div class="card-product mt-5" style='width:560px; height: 250px;' >
          <div class="card-product-infos">
          <h3 style='color: black'><%= instrument.description %></h3>
          <h2 style='color: black'><%= instrument.name %></h2>
          <p style='color: black'> <%= number_to_currency instrument.price %></p>
          <%= link_to 'Exibir', instrument_path(instrument) %>
          <% if policy(instrument).edit? %>
            <br>
            <%= link_to 'Editar', edit_instrument_path(instrument)%>
          <% end %>
          <% if policy(instrument).destroy? %>
            <br>
            <%= link_to 'Remover Anúncio', instrument_path(instrument), method: :delete, data: {confirm: "Excluir esse anúncio permanentemente?"} %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
